# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

if AARCH64

config ARMV8_GENERIC_TIMER
	bool "Enable armv8 generic timer"
	default y
	help
		Say Y here to enable support AArch64@ARMV8-A generic timer.

config CFLAGS
	string "AARCH64_CFLAGS"
	default "-march=armv8-a"
	help
		Define the default compile FLAGS.

config PIC_CFLAGS
	string "AARCH64_PIC_CFLAGS"
	default "-fPIC"
	help
		Define the default compile PIC FLAGS.

config VA_BITS
	int
	default 39

endif
