# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Xing Loong <xing.xl.loong@gmail.com>

config TIMER
	bool "Timer module"
	default y
	help
		Say Y here to enable the Timer module.
		Common timers and the architecture independent timers.

if TIMER

choice
	prompt "ARMV7 Timer Selection"
	default ARMV7_GENERIC_TIMER
	depends on AARCH32
config ARMV7_GENERIC_TIMER
	bool "armv7 generic timer"
	help
		Say Y here to enable support AArch32@ARMV7-A generic timer.
		usually for Cortex-A7/A15/A17
config ARMV7_GLOBAL_TIMER
	bool "armv7 global timer"
	help
		Say Y here to enable support AArch32@ARMV7-A global timer.
		usually for Cortex-A5/A9
config ARMV7_PRIVATE_TIMER
	bool "armv7 private timer"
	help
		Say Y here to enable support AArch32@ARMV7-A private timer.
		usually for Cortex-A5/A9
endchoice

config ARMV8_GENERIC_TIMER
	bool "armv8 generic timer"
	depends on AARCH64
	default y
	help
		Say Y here to enable support AArch64@ARMV8-A generic timer.

choice
	prompt "RISCV Timer Selection"
	depends on RISCV
	default XLNX_TIMER if QEMU_MICROBLAZE_V_RISCV32 || QEMU_MICROBLAZE_V_RISCV64
	default RISCV_TIMER if RISCV_S_MODE
	default CLINT_TIMER

config RISCV_TIMER
	bool "riscv sstc timer"
	depends on RISCV_S_MODE
	help
		Enables the per-hart RISCV timer

config CLINT_TIMER
	bool "riscv clint timer"
	depends on !RISCV_S_MODE
	help
		Enables the CLINT timer. CLINT timer
		usually used on	M-Mode RISCV systems.

config XLNX_TIMER
	bool "xlnx xps timer"
	depends on QEMU_MICROBLAZE_V_RISCV32 || QEMU_MICROBLAZE_V_RISCV64
	help
		Enable xlnx timer @ microblaze-v platform

endchoice

config MIPS32_TIMER
	bool "MIPS32 CP0 count/compare timer"
	depends on MIPS32
	default y
	help
		Enable MIPS32 CP0 count/compare (hardware) timer.

endif
