# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

config UART
	bool "UART module"
	help
		Say Y here to enable the UART module.

if UART

config UART_POLL
	bool "UART Poll RX"
	help
		Enable UART periodic polling on RX.

choice
	prompt "UART Selection"

config UART_16550
	bool "UART 16550A"
	help
		Enable UART 16550A.
config UART_PL011
	bool "UART PL011"
	help
		Enable ARM PL011 UART.
config UART_SIFIVE
	bool "UART SiFive"
	help
		Enable SiFive UART.
config UART_CDNS
	bool "UART Cadence"
	help
		Enable Cadence UART.
config UART_IMX
	bool "UART IMX"
	help
		Enable IMX UART.

endchoice

endif
