name = "shell";
uuid = "eb2f9996-9430-4905-a4fc-8476736e0d7b";
path = "/apps/shell.elf";
version = "1.0.1";
privilege = "1";
stack_size = "8192";
heap_size = "1048576";
single_instance = "1";
multi_session = "0";
inst_keepalive = "0";
dev_access = "/dev/uart0, /dev/uart1, /dev/urandom";
description = "simple shell";
