# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

config FDT_LIB
	bool "Enable the FDT library"
	default y
	help
		Say Y here to enable support the FDT library.
