name = "mbedtest";
uuid = "30d4cb0f-9de6-4249-8709-4765fea66fb8";
path = "/apps/mbedtest.elf";
version = "1.0.0";
privilege = "0";
stack_size = "8192";
heap_size = "1048576";
single_instance = "0";
multi_session = "0";
inst_keepalive = "0";
dev_access = "/dev/uart0, /dev/uart1, /dev/urandom, /dev/globalplatform";
description = "Test TA";
