# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 Xing Loong <xing.xl.loong@gmail.com>

config OTP
	bool "OTP Driver Support"
	default y
	help
	  Enable OTP (One-Time Programmable) driver support.
