# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

menu "Device Drivers"

source "drivers/base/Kconfig"

if DRIVER_BASE

source "drivers/rng/Kconfig"
source "drivers/intc/Kconfig"
source "drivers/uart/Kconfig"
source "drivers/rpc/Kconfig"

source "drivers/globalplatform/Kconfig"

endif

endmenu
