# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

config RPC
	bool "RPC call"
	default n
	help
		Say Y here to enable RPC

config RPC_YIELD
	bool "RPC YieldCall"
	depends on USER && RPC
	default y
	help
		Say Y here to enable support RPC YieldCall / RPC SHM
		current RPC YieldCall/SHM follows the GlobalPlatform style
