CONFIG_RISCV=y
CONFIG_CFLAGS="-mabi=ilp32f -march=rv32imafc_zicsr_zifencei_zicbom -mstrict-align -mcmodel=medany -mno-riscv-attribute"
CONFIG_PIC_CFLAGS="-fPIC"
CONFIG_RISCV32=y
CONFIG_QEMU_MICROBLAZE_V_RISCV32=y
CONFIG_NR_CPUS=1
CONFIG_PRINTK=y
CONFIG_TRACE_LEVEL=3
CONFIG_STACK_PROTECTOR=y
CONFIG_BACKTRACE=y
CONFIG_EMBEDDED_DTB=y
CONFIG_OS_ADDR=0x80000000
CONFIG_KMALLOC_SLAB=y
CONFIG_IPC_PIPE=y
CONFIG_IPC_EVENTFD=y
CONFIG_DRIVER_BASE=y
CONFIG_RNG=y
CONFIG_PRNG=y
CONFIG_INTC=y
CONFIG_XLNX_INTC=y
CONFIG_UART=y
CONFIG_UART_POLL=y
CONFIG_UART_16550=y
CONFIG_TIMER=y
CONFIG_XLNX_TIMER=y
CONFIG_OTP=y
CONFIG_FS=y
CONFIG_POLL=y
CONFIG_DEVFS=y
CONFIG_FATFS=y
CONFIG_RAMFS=y
CONFIG_RAMFS_SIZE=64
CONFIG_TMPFS=y
CONFIG_DEBUGFS=y
CONFIG_KERNEL_MBEDCRYPTO=y
CONFIG_SIMPLE_SHELL=y
CONFIG_KERN_SHELL=y
