CONFIG_RISCV=y
CONFIG_REE=y
CONFIG_MMU_SV32=y
CONFIG_QEMU_VIRT_RISCV32_IMSIC=y
CONFIG_NR_CPUS=4
CONFIG_PRINTK=y
CONFIG_BACKTRACE=y
CONFIG_INTC=y
CONFIG_RISCV_IMSIC=y
CONFIG_UART=y
CONFIG_UART_16550=y
CONFIG_RISCV_TIMER=y
CONFIG_RPC=y
CONFIG_GLOBALPLATFORM=y
CONFIG_FATFS=y
CONFIG_RAMFS=y
CONFIG_REEFS=y
CONFIG_TMPFS=y
CONFIG_DEBUGFS=y
CONFIG_USER=y
CONFIG_IPC_SHM=y
CONFIG_IPC_MSGQ=y
CONFIG_USER_BACKTRACE=y
CONFIG_EPOLL=y
CONFIG_ASLR=y
CONFIG_TEE_API=y
CONFIG_AUTH_TA=y
CONFIG_SIMPLE_SHELL=y
CONFIG_MBEDTEST=y
