CONFIG_AARCH64=y
CONFIG_ARM_GICV3=y
CONFIG_REE=y
CONFIG_QEMU_XLNX_VERSAL_VIRT=y
CONFIG_NR_CPUS=2
CONFIG_PRINTK=y
CONFIG_BACKTRACE=y
CONFIG_UART=y
CONFIG_UART_POLL=y
CONFIG_UART_PL011=y
CONFIG_RPC=y
CONFIG_GLOBALPLATFORM=y
CONFIG_FATFS=y
CONFIG_RAMFS=y
CONFIG_REEFS=y
CONFIG_TMPFS=y
CONFIG_DEBUGFS=y
CONFIG_USER=y
CONFIG_IPC_SHM=y
CONFIG_IPC_MSGQ=y
CONFIG_USER_BACKTRACE=y
CONFIG_EPOLL=y
CONFIG_ASLR=y
CONFIG_TEE_API=y
CONFIG_AUTH_TA=y
CONFIG_SIMPLE_SHELL=y
CONFIG_MBEDTEST=y
