CONFIG_RISCV=y
CONFIG_RISCV64=y
CONFIG_CFLAGS="-mabi=lp64f -march=rv64imafc_zicsr_zifencei_zicbom -mstrict-align -mcmodel=medany -mno-riscv-attribute"
CONFIG_QEMU_MICROBLAZE_V_RISCV64=y
CONFIG_NR_CPUS=1
CONFIG_PRINTK=y
CONFIG_BACKTRACE=y
CONFIG_INTC=y
CONFIG_XLNX_INTC=y
CONFIG_UART=y
CONFIG_UART_POLL=y
CONFIG_UART_16550=y
CONFIG_XLNX_TIMER=y
CONFIG_FATFS=y
CONFIG_RAMFS=y
CONFIG_TMPFS=y
CONFIG_DEBUGFS=y
CONFIG_SIMPLE_SHELL=y
