CONFIG_ARM=y
# CONFIG_MIPS is not set
# CONFIG_RISCV is not set

#
# ARM Architecture
#
CONFIG_AARCH32=y
# CONFIG_AARCH64 is not set
CONFIG_ARM_GICV1=y
# CONFIG_ARM_GICV2 is not set
# CONFIG_ARM_GICV3 is not set
# CONFIG_ARM_BIGLITTLE is not set
CONFIG_REE=y
CONFIG_MMU=y
# CONFIG_REE_THREAD is not set
CONFIG_IRQ_FORWARD=y
# CONFIG_ARMV7_GENERIC_TIMER is not set
# CONFIG_ARMV7_GLOBAL_TIMER is not set
CONFIG_ARMV7_PRIVATE_TIMER=y
CONFIG_CFLAGS="-mno-thumb-interwork -marm -march=armv7-a -mfloat-abi=soft -mno-unaligned-access"
CONFIG_PIC_CFLAGS="-fPIC"
# end of ARM Architecture

#
# Platform Configure
#
CONFIG_VEXPRESS_CA5=y
# CONFIG_VEXPRESS_CA15 is not set
# CONFIG_VEXPRESS_CA17_CA7 is not set
# CONFIG_QEMU_VIRT_ARM is not set
# CONFIG_SALIX_CA7 is not set
# end of Platform Configure

#
# General Setup
#
CONFIG_NR_CPUS=4
CONFIG_PRINTK=y
CONFIG_VMALLOC=y
CONFIG_STACK_PROTECTOR=y
CONFIG_BACKTRACE=y
CONFIG_EMBEDDED_DTB=y
CONFIG_ELF_LOADER=y
CONFIG_OS_ADDR=0xC0000000
# end of General Setup

#
# Device Drivers
#
CONFIG_DRIVER_BASE=y
CONFIG_RNG=y
CONFIG_PRNG=y
# CONFIG_INTC is not set
CONFIG_UART=y
# CONFIG_UART_16550 is not set
CONFIG_UART_PL011=y
# CONFIG_UART_SIFIVE is not set
CONFIG_RPC=y
CONFIG_RPC_YIELD=y
CONFIG_GLOBALPLATFORM=y
# end of Device Drivers

#
# File Systems
#
CONFIG_FS=y
CONFIG_DEVFS=y
CONFIG_FATFS=y
CONFIG_RAMFS=y
CONFIG_REEFS=y
CONFIG_TMPFS=y
CONFIG_DEBUGFS=y
# end of File Systems

#
# Libraries
#
CONFIG_KERN_NEWLIB=y
CONFIG_FDT_LIB=y
CONFIG_USER_MBEDTLS=y
# CONFIG_USER_MBEDTLS_PSA is not set
# CONFIG_USER_MBEDTLS_X509 is not set
# CONFIG_USER_MBEDTLS_SSL is not set
CONFIG_KERNEL_MBEDTLS=y
# end of Libraries

#
# UserSpace
#
CONFIG_USER=y
CONFIG_SYSCALL=y
CONFIG_USER_PTHREAD=y
CONFIG_SIGNAL=y
CONFIG_IPC_SHM=y
CONFIG_IPC_MSGQ=y
CONFIG_USER_BACKTRACE=y
CONFIG_EPOLL=y
CONFIG_ASLR=y
CONFIG_TEE_API=y
# end of UserSpace

#
# Applications
#
CONFIG_AUTH_TA=y
CONFIG_SIMPLE_SHELL=y
CONFIG_USER_SHELL=y
# CONFIG_KERN_SHELL is not set
# end of Applications
