# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2019 KapaXL (kapa.xl@outlook.com)

if MIPS

config 64BIT
	def_bool n

config MMU
	bool "Enable MMU"
	default USER
	help
		Say Y here to enable the paged virtual memory management.

endif
