// SPDX-License-Identifier: Apache-2.0
/*
 * Copyright (c) 2025 Xing Loong <xing.xl.loong@gmail.com>
 */

/dts-v1/;

#include "memory.dtsi"

#include <generated/autoconf.h>

#define GIC_SPI(x) ((x) + 32)
#define GIC_PPI(x) ((x))

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	cpu {
		compatible = "arm,cpu";
		/* mpid of each CPU */
		cpus = <0x0 0x1 0x2 0x3>;
	};

	platform {
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * pinctrls cells information
		 * 0: reg offset,
		 * 1: first bit position,
		 * 2: number of bits,
		 * 3: value
		 */
		pinctrl@0 {
			/* unnecessary for QEMU */
			compatible = "module,pinctrl";
			reg = <0 0>;
			pinctrls = <0 0 0 0>;
		};

		cpu-power@1 {
			compatible = "module,cpu-power";
			/* unnecessary for QEMU */
			reg = <0 0>;
		};
	};

	/* interrupt-controller: CPU side */
	gic: interrupt-controller@12200000 {
		compatible = "arm,gic-v3";

		interrupt-controller;

		#interrupt-cells = <1>;

		reg = <0 0x12200000 0 0x10000>, /* GICD */
			<0 0x12280000 0 0x100000>; /* GICR RD_Base / SGI_Base */
	};

#if !defined(CONFIG_REE) /* Give the INTC to REE */
	/*
	 * AST2700-A1 two-level interrupt controller hierarchy:
	 * UART12 -> INTCIO GICINT196 bit18 -> INTC GICINT192_201 bit4 -> GIC SPI 196
	 */

	/* Top-level INTC: GICINT192_201 aggregate controller */
	intc_top: ast2700-intc@12101b00 {
		compatible = "aspeed,ast2700-intc";

		interrupt-controller;

		#interrupt-cells = <1>;

		interrupts = <GIC_SPI(196)>;

		interrupt-parent = <&gic>;

		reg = <0 0x12101b00 0 0x8>;

		max-irqs = <32>;
	};

	/* INTCIO: per-GICINT196 controller (UART group) */
	intc_gic196: ast2700-intcio-gic196@14c18140 {
		compatible = "aspeed,ast2700-intc";

		interrupt-controller;

		#interrupt-cells = <1>;

		interrupts = <4>;

		interrupt-parent = <&intc_top>;

		reg = <0 0x14c18140 0 0x8>;

		max-irqs = <32>;
	};
#endif

	uart {
		compatible = "module,uart";
		#address-cells = <1>;
		#size-cells = <1>;

		serial16550@14c33b00 {
			compatible = "ns16550a";
			reg = <0x14c33b00 0x100>;
#if !defined(CONFIG_REE) /* Give the UART INT to REE */
			interrupt-parent = <&intc_gic196>;
			interrupts = <18>;
#endif
			clock-frequency = <1846153>;
			current-speed = <115200>;
			clock-divisor = <16>;
			reg-shift = <2>;
			reg-io-width = <4>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI(29)>; /* PPI 29 for SecureWorld tick_timer, 30 for REE */
		interrupt-parent = <&gic>;
		clock-frequency = <1000000000>;
	};
};
