name = "auth_ta";
uuid = "7af4c991-d3d1-47dc-bb19-494ae54c8c9b";
path = "/apps/auth_ta.elf";
version = "1.1.0";
privilege = "1";
stack_size = "8192";
heap_size = "1048576";
single_instance = "0";
multi_session = "0";
inst_keepalive = "0";
dev_access = "/dev/uart0, /dev/uart1, /dev/urandom";
description = "boot-time privileged TA to authorize external run-time TAs";
